<div class="container">
  <div class="row">
	<h2 style="text-align: center; margin-top: 50px;">発注一覧</h2>
	<div class="font_info">
	  <table class="table">
		<thead>
		  <tr>
			<th>発注日</th>
			<th>納品日</th>
		  </tr>
		</thead>

		<tbody>
		  <% @orders.each do |order| %>
			<tr>
			  <td><%#= link_to order.created_at.strftime('%Y/%m/%d'), order_path(order.id) %></td>
			  <td><%#= link_to order.derivery_date, order_path(order.id) %></td>
			</tr>
		  <% end %>
		  <%= paginate @orders, class: "pagenate" %>
		</tbody>
	  </table>
	</div>
  </div>
</div>
