<div class="container">
  <div class="row">
	<h2 style="text-align: center; margin-top: 50px;">発注一覧</h2>
	<div class="font_info">
	<div class="col-xs-10 col-xs-offset-1">
	  <table class="table">
		<thead>
		  <tr>
			<th>発注日</th>
			<th>納品日</th>
		  </tr>
		</thead>

		<tbody>
		  <% @orders.each do |order| %>
			<tr>
			  <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
			  <td><%= link_to order.delivery_date.strftime('%Y/%m/%d'), admin_order_path(order.id), :style=>"color:black;" %></td>
			</tr>
		  <% end %>
		</tbody>
	  </table>
	  <%= paginate @orders, class: "pagenate"%>
	</div>
	</div>
  </div>
</div>
