<div class="container">
  <div class="row">
    <h3 style="text-align: center; margin-top: 50px;">発注書詳細</h3>
	<table>
		<thead>
			<tr>
				<th>発注日</th>
				<th>ジャンル</th>
				<th>名前</th>
				<th>個数</th>
			</tr>
		</thead>
		<tbody>
			<% @order.order_material.each do |materiarl| %>
          <tr>
			<td><%= material.created_at.strftime('%Y/%m/%d') %></td>
			<td><%= material.genre %></td>
		    <td><%= material.name %></td>
		    <td><%= material.material_count %></td>
		  </tr>
		    <% end %>
		</tbody>
    </table>
  </div>
</div>
