<div class="container">
  <div class="center-block">
    <h2 style="text-align: center; margin-top: 100px;">本当に退会しますか？</h2>
      <p style="text-align: center; font-size: 20px;">退会すると誕生日割引やクーポンのご利用ができなくなります</p>

      <div><%= link_to '退会しない', user_path(current_user), class: "btn btn-info col-xs-3 col-xs-offset-3" %>
      	   <%= link_to '退会する', users_hide_path(current_user), data: { confirm: "本当に退会しますか？" }, method: :put, class: "btn btn-danger col-xs-3" %>
      </div>
  </div>
</div>