<div class="portfolio_photo">
  <div class="portfolio_info">
  目次<br>
  プログラミング言語<br>
  ポートフォリオ紹介<br>
  プログラミングスクール<br>
  プロフィール<br>
  お問い合わせ<br>
  </div>
  <div class="portfolio_text">work</div>
</div>

  <div class="skill_photo">
    <div class="skill_title">skills</div><br>
    <div class="skill_text">
      HTML<br>
      CSS<br>
      JavaScript<br>
      Ruby<br>
      SQL<br>
      Ruby on Rails<br>
      jQuery<br>
    </div>
    <div class="detail_text">
    主にRuby on Railsを使った<br>
    プログラミングを勉強<br>
    今回開発したアプリケーションでは<br>
    独学とプログラミングスクールで<br>
    学んだことを
    余すことなく<br>
    実装、表現できるよう努めました<br>
    今後も理解を深めていくとともに<br>
    新たな言語にも挑戦していきたい
    </div>
  </div>

  <div class="web_box">
    <div class="web_title">
    portfolio
    </div>
      <div class="web_info">
        サイト名<br>
        <div class="text_info">Area42</div>
          概要<br>
          移動販売車(キッチンカー)での弁当の販売、閲覧サイト及び管理者側での運営管理<br>
          <br>
          テーマ<br>
          自身で移動販売車で営業することを想定したサイト<br>
          管理者側に重きをおいたwebアプリケーション<br>
          <br>
          テーマを選んだ理由<br>
          自分の考える将来やってみたいビジネスプランを具現化してみようと思い製作<br>
          <br>
          利用目的<br>
          顧客側<br>
          webページの閲覧が可能で登録することでクーポンなどが使えるようになる<br>
          <br>
          管理者側<br>
          販売する弁当の登録、編集ができる<br>
          登録しているユーザーの管理、検索が可能で個別にメモを取れるようになっている<br>
          発注書作成が可能で在庫や過去の発注を確認できる
      </div>
  </div>
      <div class="web_text">
      キッチンカーを紹介する<br>
      Webアプリケーション
      <div class="go">
      GO  ➡︎
      </div>
      </div>
      <%= link_to home_top_path do %>
        <div class="web_photo">
        </div>
      <% end %>

  <div class="school_photo">
    <div class="school_title">
    school
    </div>
    <div class="school_text">
      フロントエンド<br>
      HTML/CSS<br>
      Bootstrap<br>
      JavaScript/jQuery/Ajax<br>
      <br>
      サーバサイド<br>
      Ruby/Ruby on Rails<br>
      <br>
      その他<br>
      Rspec<br>
      SQL<br>
      <br>
      インフラ<br>
      AWS(EC2,RDS,ELB)<br>
      Vagrant/VirtualBox<br>
      <br>
      設計<br>
      画面設計、機能一覧<br>
      データベース設計(ER図)<br>
      アプリケーション詳細設計<br>
      <br>
      プロジェクト管理<br>
      チームビルディング、WBS管理<br>
      KPT、GitHub(チーム開発)
      <div class="detail_school_button">
        詳細表示
      </div>
    </div>
    <div class="detail_school_text">
      プログラミングスクールにて<br>
      基礎から勉強に励み<br>
      最終的に1人でのアプリケーション開発から<br>
      デプロイに至るまでの設定、工程を経験しました<br>
      また課せられた課題でのチーム開発にも挑み<br>
      周りとコミュニケーションを取りながら<br>
      期日までにアプリケーションを完成させる<br>
      実際の現場に近い経験をすることができました<br>
      実務は未経験ではありますが<br>
      このスクールで学んだことは<br>
      今後の自分の助けになり、<br>
      少しでも早く対応できるのではないかと<br>
      考えております<br>
      <br>
      今回のポートフォリオでは<br>
      もし自分が調理の道で食べていくとしたらをテーマに<br>
      リアリティのあるアプリケーション開発に<br>
      挑戦しました<br>
      管理者側の機能を充実させ<br>
      経験者だからこその視点を持って<br>
      製作することに注力しました<br>
    </div>
  </div>

  <div class="profile_box">
    <div class="profile_title">
    profile
    </div>
    <div class="profile_text">
    エンジニアを目指している理由<br>
    <br>
    日常生活において触れる機会の多くなった技術を身につけ、<br>
    今まで仕事を通して人へのサービスや気遣いを大事にしてきた<br>
    自分のマインドを落とし込むことにより<br>
    多くの人へサービスを提供することができるのではないかと考え、<br>
    エンジニアになる決意をしました。<br>
    前職でも顧客情報をデータで取り扱っていたのですが、<br>
    使い方や動作に不満を抱くこともあり<br>
    自分の手でより良いものにできないかと考えておりました。<br>
    今後もこういったサービスが増えていく中で自身も作り手の一員となり、<br>
    今まで培った知識や経験を生かして形として表現し、<br>
    仕事を通して人から感謝され喜ばれるものを作りたいと考えております。
    </div>
  </div>

  <div class="profile_info">
    山城　康平<br>
    1988/07/31<br>
  </div>
  <div class="profile_photo">
  </div>
  <div class="profile_detail">
  長きにわたり調理や販売などのサービス業に従事<br>
  顧客情報や在庫などの管理や<br>
  新人教育などの責任者業務を行っておりました<br>
  web開発やデザインに興味があり<br>
  サービスを形にしたい思いと自身の成長の為<br>
  プログラミングスクールに通学後<br>
  エンジニアを目指して勉強中です
  </div>

  <div class="contact_photo">
    <div class="contact_title">
      contact
    </div>
    <div class="contact_text">
    mushakora89br@gmail.com
    </div>
  </div>
  <span id="back">
    <a href="#">
    </a>
  </span>