 <div class="top_phote">
  <p class="top_text">Area 42</p>
  <p class="top_comment">街の働き者を応援するキッチンカー
  </p>
    <p class="instruction">
  	  <%= link_to "menu", items_path, :style=>"color:#99FF99; text-decoration: none; " %>
    </p>
</div>